.greek-body {
  font-family: 'GFS Didot', serif;
  background-color: ivory;
  text-rendering: optimizeLegibility;
  color: #222222;
  -webkit-font-smoothing: antialiased;
}
.latin-body {
  font-family: 'Cormorant Garamond', serif;
  background-color: ivory;
  text-rendering: optimizeLegibility;
  color: #222222;
  -webkit-font-smoothing: antialiased;
}
note {
  display: none;
}
lemma, foreign, quote {
  font-style: italic;
}
lemma[lang="greek"], foreign[lang="greek"], quote[lang="greek"] {
  font-family: 'GFS Didot', serif;
}
lemma {
  font-weight: bold;
}
emph, bibl {
  font-style: italic;
}
bibl > title {
  display: inline;
}
quote > l {
  margin-left: 10px;
  display: block;
  font-style: italic;
}
speaker {
  display: block;
}
castlist {
  display: block;
  text-align: center;
}
castitem {
  text-transform: uppercase;
  display: inline;
}
quote[lang="greek"]::before, quote[lang="greek"]::after {
  content: "'";
}
.line-ref {
  font-weight: bold;
}
translation {
  margin-left: 5px;
  margin-right: 5px; 
  display: block;
}
.parallel_translation, .comment {
  display: none;
  position:fixed;
  z-index: 250;
  bottom: 0;
  left: 1px;
  right: 1px;
  width: 100%;
  max-height: 50%;
  overflow-y: scroll;
  background-color: ivory;
  border-top: 1px black solid;
  font-size: 4.2vw !important;
  font-family: 'Open Sans', sans-serif;
}
.navigator {
  font-style: normal !important;
  font-weight: bold;
  z-index: 200;
  font-size: 8vw;
}
.comment-indicator {
  font-style: normal !important;
  font-weight: bold;
  float: right;
  display: none;
  z-index: 200;
  font-size: 8vw;
}
.masthead-container {
  top: -1px;
  left: 0px;
  position: fixed;
  z-index: 100;
  width: 100%;
  box-shadow: 0 1px 10px 0px lightgray;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.masthead, .helper {
  z-index: 100;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  background-color: ivory;
}
.masthead {
  background-color: ivory;
}
.helper {
  z-index: 200;
  text-align: center;
}
.firstspeaker {
  margin-left: 6vw;
  user-select: none;
  font-size: 5vw;
}
.hexameter-line {
  margin-left: 2vw;
  margin-right: 2vw;
  user-select: none;
}
.prose-line {
  font-size: 5vw;
}
head, .heading {
  font-size: 6vw;
}
.para {
  display: inline-block;
}
.line, .para, .heading {
  margin-left: 5vw;
  user-select: none;
}
.line {
  font-size: 4.2vw;
}
.milestone[unit="chapter"], .speaker, .chapter {
  margin-top: 0.4vh;
  position: absolute;
  left: 2px;
  font-size: 3.6vw;
}
.milestone {
  font-size: 2.2vw;
  vertical-align: super;
}
.chapter {
  font-size: 2.5vw;
}
.line-number {
  float: right;
  font-size: 3vw;
  vertical-align: bottom;
}
.author {
  text-transform: uppercase;
  font-size: 6vw;
  font-family: 'Cinzel', serif;
  color: black;
  font-style: normal;
  font-weight: bold;
  margin-left: 6vw;
}
.title {
  text-transform: uppercase;
  font-size: 5vw;
  font-family: 'Cinzel', serif;
  color: gray;
  text-overflow: ellipsis;
}
span {
  font-style: italic;
}
#transCount {
  position: absolute;
  right: 0;
  font-size: 3vw;
}
.helper {
  font-size: 4vw !important;
}
